*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
}

pre
{
    text-align: center;
    font-size: 1rem;
    color: white;

    white-space: pre-wrap;
    word-wrap: break-word;

}


ul
{
    margin-top: .5%;
}
li
{
    list-style:"-";
    margin-left: 2%;
}

main
{
    color: white;
    margin: 10px;
}

#cursor
{
    display: inline-block;

    width: 5px;
    height: 1rem;
    background-color: white;

    animation: blink 1s linear infinite;

}

@media screen and (max-width: 530px) {
    pre
    {
        font-size: .5rem;
    }
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}