*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --header-backcolor: #2e2e2e;
    --header-fontcolor: white;
    --header-invert-backcolor: blueviolet;

    --main-back: #2e2e2e;
    --main-font: purple;

    --footer-back:#2e2e2e;
    /*          font             */

    --font-name: "Pixel"
}

@font-face {
    font-family: 'Pidxel';
    src: url('../assets/font/PixeloidMono-d94EV.ttf');
}

@import url("animation.css");

/*  */
header
{
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    padding-left: 2vw;
    padding-right: 2vw;
    height: 10vh;

    background-color: var(--header-backcolor);
    color: white;

    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    font-family: var(--font-name), sans-serif;
}

header a
{
    text-decoration: none;
    color: var(--header-fontcolor);
}

@keyframes animbar {
    0%
    {
        opacity: 1;
    }
    40%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

#barreT
{
    color: white;
    animation: animbar .8s infinite;
}


nav
{
    height: inherit;
}
nav a
{
    display: flex;
    height: 100%;
    width: 100%;

    flex-flow: column wrap;
    justify-content: center;
}

nav a:hover
{
    background-color: var(--header-invert-backcolor);
}

nav > ul
{
    display: flex;
    align-items: center;
    width: 40vw;
    height: inherit;
}

nav >ul > li
{
    list-style-type: none;
    text-align: center;
    width: 33.33%;
    height: 100%;
}

/* *********************************** */
/*                MAIN                 */
/* *********************************** */

main
{
    height: 80vh;
    background-color: var(--main-back);
    color: var(--header-fontcolor);
}


/* *********************************** */
/*                SECTION              */
/* *********************************** */

section
{
    width: 80%;
    height: 100%;
    background-color: #2e2727;
}

/* *********************************** */
/*                ARTICLE              */
/* *********************************** */

article
{
    position: relative;
    border: 5px solid #b05279;
    /* clip-path: polygon(10% 10%, 10% 0, 100% 0, 100% 90%, 90% 90%, 90% 100%, 0% 100%, 0 10%); */
}

article div:nth-child(2)
{
    margin: 5%;
    width: 90%;
    height: 90%;
}
.topSquare
{
    position: absolute;
    left: -5px;
    top:  -4.5px;
    width: 6%;
    aspect-ratio: 1/1;
    background-color: var(--main-back);
    border: 5px solid var(--main-back);
    border-right-color: #b05279;
    border-bottom-color: #b05279;
    
}

.bottomSquare
{
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 6%;
    aspect-ratio: 1/1;
    background-color: var(--main-back);
    border: 5px solid var(--main-back);
    border-left-color: #b05279;
    border-top-color: #b05279;
}
/* *********************************** */
/*                FOOTER               */
/* *********************************** */

footer
{
    height: 10vh;
    background-color: var(--footer-back);
}